.bs-docs-social-buttons li {
    display: inline-block;
}

.date {
    font-size: small;
    margin: 1em 2em 0 0;
    float: right;
}

#posts ol {
    list-style: none;
}

.more {
    font-size: 12px;
}

li {
    padding: 3px 0;
}