<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | http-kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="http-kit, HTTP Server, web server, HTTP client, asynchronous, websocket">
    <meta name="description" content="http-kit, event driven HTTP server and HTTP client for clojure,strive to be clean and compact. support async and websocket">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/pygment_trac.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 8]>
        <link href="/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/blue.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></scrip>
        <![endif]-->
    <link rel="shortcut icon" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/ico/favicon.ico">
  </head>

  <body>
    <a href="https://github.com/http-kit/http-kit"><img style="position: fixed; top: 0; left: 0; border: 0;z-index:10000" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">
            http-kit
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="server.html">Server</a></li>
              <li><a href="client.html">Client</a></li>
              <li><a href="blogs.html">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{content}}

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="client.html">HTTP Client</a></li>
              <li><a href="server.html">HTTP Server</a></li>
            </ul>
          </div>
          <div class="span3">
            <h3>Open Source</h3>
            <ul>
              <li><a href="http://github.com/http-kit">Github repository</a></li>
              <li><a href="https://github.com/http-kit/http-kit/issues?page=1&state=open">Bug report</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
