<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | http-kit, high performance HTTP Client/Server for Clojure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="http-kit, HTTP Server, web server, HTTP client, asynchronous, websocket, long polling, comet server">
    <meta name="description" content="Event-driven I/O HTTP Client & Server for Clojure: small, efficient, Ring-compatible. Asynchronous and websocket supported">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/pygment_trac.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 8]>
        <link href="/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/blue.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="http-kit Blog" href="atom.xml">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></scrip>
    <![endif]-->
    <link rel="shortcut icon" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/ico/favicon.ico">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <!--<a href="https://github.com/http-kit/http-kit"><img style="position: fixed; top: 0; left: 0; border: 0;z-index:10000" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>-->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">HTTP Kit</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="server.html">Server</a></li>
              <li><a href="client.html">Client</a></li>
              <li><a href="timer.html">Timer</a></li>
              <li><a href="migration.html">Migration Guide</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="https://github.com/http-kit/http-kit">On GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{content}}
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="server.html">Server Documentation</a></li>
              <li><a href="client.html">Client Documentation</a></li>
              <li><a href="timer.html">Timer Documentation</a></li>
              <li><a href="migration.html">Migration Guide</a></li>
              <li><a href="https://github.com/http-kit/http-kit/blob/master/history.md">Update log</a></li>
              <li><a href="atom.xml">RSS Subscription</a></li>
            </ul>
          </div>
          <div class="span3">
            <h3>Open Source</h3>
            <ul>
              <li><a href="http://github.com/http-kit">GitHub Repository</a></li>
              <li><a href="https://github.com/http-kit/http-kit/issues?page=1&state=open">
                  Bug Reports &amp; Suggestions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16852768-6', 'http-kit.org');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
  </body>
</html>
